@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

.custom-text-color {
  color: #33a863 !important;
}

.custom-background-color {
  --tw-bg-opacity: 1;
  background: #33a863 !important;
}

.hover\:custom-background-color:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}